<%- layout("/layouts/boilerplate") %>

    <body>
        <div class="row col-md-6 offset-2 mt-3">
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
                <p class="alert—heading">
                    <%=message %>
                </p>
            </div>
        </div>
    </body>